@import 'reset.css';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap');

:root {
  /* TODO: add font from google fonts */
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #000;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2 {
  letter-spacing: -0.03rem;
  line-height: 1;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  /* min-width: 320px; */
}

h1 {
  font-size: 4.2rem;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.container {
  display: grid;
  min-height: 100vh;
  width: 100%;
  place-items: center;
  position: relative;
}

.container__wrapper {
  position: relative;
}

.map-and-pools {
  position: relative;
  margin-inline-start: auto;
  margin-inline-end: auto;
  aspect-ratio: 16 / 9;
}

.map-and-pools__img {
  object-fit: contain;
}

.pools-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.clock {
  position: absolute;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 12px;
  border-radius: 8px;
  color: white;
  left: 1%;
  top: 1%;
  min-width: 360px;
  text-align: center;
}

.occupancy-levels {
  position: absolute;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 24px;
  color: white;
  bottom: 5%;
  right: 5%;
  border-radius: 8px;
}

.occupancy-levels__content {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.occupancy-levels__title {
  text-transform: uppercase;
  font-size: 2rem;
}

.occupancy-levels__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.occupancy-levels__indicator {
  width: 32px;
  height: 16px;
}

.occupancy-levels__indicator--green {
  background-color: green;
}

.occupancy-levels__indicator--yellow {
  background-color: yellow;
}

.occupancy-levels__indicator--red {
  background-color: red;
}

.occupancy-levels__percentage {
  font-size: 1.2rem;
}
